
.parrafosimpares{
    color:rgb(65, 42, 165); 
}
p.parrafo2{
    color:rgb(240, 17, 17)
}
#parrafo4{
    color:rgb(184, 11, 155)
}
span{
 background-color: rgb(0, 255, 234);
 color:black;
}
p em{
    background-color: rgb(0, 255, 64);
}
p.parrafocursiva {
    font-style: oblique;
    color: rgb(0, 255, 0);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif ;
}