body {
    background-color: lightgrey;
}
div.principal{
    background-color: green;
    position:absolute;
    width:70%;
    height: 70%;
    margin-left: 20%;
    top: 10%
}
div.menu{
    border:2px black solid;
    position: absolute;
    height: 40%;
    width: 8%;
    top:28%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.menu2{
    position: absolute;
    top:24%;
    text-align: center;
}
img.profile{
    width: 90%;
    position: absolute;
    top: 1%;
    left:5% ;
}
ul.ul1{
    background-color: grey;
    display: inline-block;
    width: 10%;
    text-align: left;
    position: absolute;
}
ul.ul2{
    background-color: grey;
    display: inline-block;
    width: 20%;
    text-align: left;
    position: absolute;
    left: 17%;
}
ul.ul3{
    background-color: grey;
    display: inline-block;
    width: 20%;
    text-align: left;
    position: absolute;
    left: 44%;
}
ul.ul4{
    background-color: grey;
    display: inline-block;
    width: 21.8%;
    text-align: left;
    position: absolute;
    left: 71%;
}